body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#roulette {
    flex: 1;
    aspect-ratio: 1;
    margin: 20px;
    border-radius: 50%;
}

#arrow {
    width: 5%;
    height: 5%;
    margin: 0 auto;
    background-color: #333333;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

#toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#value {
    width: 3rem;
    text-align: center;
}
